* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  display: grid;
  margin: 0;
  grid-template-rows: 85px 1200px 1050px 1300px auto auto auto 230px; }

.body_tilmeld {
  display: grid;
  grid-template-rows: 115px auto auto; }

h1 {
  font-size: 45pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #0097d7; }

h2 {
  font-size: 25pt;
  font-family: 'Montserrat', sans-serif; }

h3 {
  font-size: 9pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

p {
  font-size: 12pt;
  line-height: 20pt;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: #0097d7;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  background-color: white; }

.dropdown {
  text-align: center;
  width: 100%;
  position: relative;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  *background-color: aqua;
  height: 100px; }

.lillelogo {
  width: 170px;
  height: 83px;
  margin-top: 10px;
  margin-left: 20px; }

header {
  position: fixed;
  width: 100%;
  height: 115px;
  background-color: white;
  z-index: 5000;
  font-weight: bold; }

.header {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 5000;
  color: black; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0097d7;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 85px;
  right: 0; }

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background: white;
  color: #f37121; }

.dropdown:hover .dropdown-content {
  display: block; }

.menu_web {
  display: none; }

.forside {
  grid-row: 2; }

.background {
  height: 445px;
  width: auto;
  background-image: url("../images/home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  *background-size: cover; }

.flex-container {
  display: flex;
  flex-direction: column; }

.box1 {
  background-color: #f37121;
  width: 100%;
  color: white;
  text-align: center;
  padding-left: 30pt;
  padding-right: 30pt; }

.box2 {
  background-color: #0097d7;
  width: 100%;
  color: white;
  text-align: center;
  padding-left: 30pt;
  padding-right: 30pt; }

.box3 {
  background-color: #99cccc;
  width: 100%;
  color: white;
  text-align: center;
  padding-left: 30pt;
  padding-right: 30pt; }

.om_os {
  grid-row: 3; }

.om-os {
  background-color: white;
  text-align: center;
  color: #0097d7;
  width: 90%;
  justify-content: center;
  padding-top: 60px; }

.medlemskab {
  grid-row: 6;
  background-color: #ebf1f3; }

.medlem_overskrift {
  color: #0097d7;
  margin: 0 auto;
  line-height: 10pt;
  padding-top: 70px; }

.tilmeld_text {
  height: auto;
  width: 80%;
  margin: 0 auto;
  margin-top: 80px; }

.knap_container {
  height: auto;
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 60px; }

.text1 {
  color: black;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify; }

.flex-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #0097d7;
  font-family: 'Lato', sans-serif;
  text-align: center; }

.flex-container2 img {
  width: 13vw;
  height: 10vw;
  margin: 0 auto; }

.flex-container3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #0097d7;
  margin-left: 10%;
  margin-right: 10%; }

.flex-container3 h3 {
  font-size: 7pt; }

.knap_blivmedlem {
  background-color: #f37121;
  margin-top: 2%;
  color: white;
  border-radius: 10px;
  border: 0px;
  height: 50px;
  width: 220px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt;
  font-weight: bold;
  text-align: center; }

.flex-container4 {
  display: flex;
  justify-content: space-around; }

.fejlbillede {
  width: auto;
  height: auto; }

a:hover {
  color: #f37121;
  *background-color: #f37121;
  text-decoration: none; }

.some {
  width: 90px;
  justify-content: space-around;
  display: none; }

.in {
  margin-top: 10px;
  background-color: #0097d7;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  border: none;
  font-family: 'Nunito', sans-serif; }

.fb {
  margin-top: 10px;
  background-color: #0097d7;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  border: none;
  font-family: 'Nunito', sans-serif; }

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #f37121;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 7000; }

#return-to-top i {
  color: white;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#return-to-top:hover {
  background: #f37121; }

#return-to-top:hover i {
  color: white;
  top: 5px; }

.kalender {
  grid-row: 4;
  background: url("../images/kalenderbaggrund.png"); }

.galleri {
  display: none; }

.projekter {
  grid-row: 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto; }

.projekter h2 {
  text-align: center;
  color: white; }

.Projekter_overskrift {
  grid-row: 1; }

.projekter_projekter {
  display: none; }

.projekter_projekter_mobile {
  grid-row: 2;
  display: grid;
  grid-template-rows: auto auto auto 70px;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  justify-items: center; }

.medlemskab_knap {
  background-color: #f37121;
  color: white;
  padding: 10px;
  border-radius: 10px;
  *margin-bottom: 30px; }

.lortebillede {
  display: none; }

footer {
  grid-row: 7;
  background-image: url("../images/1mobilbaggrund.png");
  background-size: cover;
  background-position: center; }

footer h1 {
  color: white; }

.footer_overskrift {
  color: white;
  padding-top: 60px;
  padding-bottom: 60px; }

.medlem1 {
  margin: 0 auto;
  height: 60%;
  width: 60%; }

.mennesker1 {
  height: 100%;
  width: 33%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.mennesker1 p {
  font-size: 8.5pt;
  line-height: 10pt; }

.om1 {
  text-align: center;
  width: 100%;
  font-weight: normal;
  margin-top: 3px;
  margin-bottom: 3px; }

.om11 {
  text-align: center;
  font-weight: 100; }

.menneske2 {
  height: 100%;
  width: 33%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column; }

.menneske2 p {
  font-size: 8.5pt;
  line-height: 10pt; }

.om2 {
  text-align: center;
  width: 100%;
  font-weight: normal;
  margin-bottom: 3px;
  margin-top: 3px; }

.om22 {
  text-align: center;
  font-weight: 100; }

.medlem2 {
  margin: 0 auto;
  height: 60%;
  width: 60%; }

.menneske3 {
  height: 100%;
  width: 33%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column; }

.menneske3 p {
  font-size: 8.5pt;
  line-height: 10pt; }

.om3 {
  text-align: center;
  width: 100%;
  font-weight: normal;
  margin-bottom: 3px;
  margin-top: 3px; }

.om33 {
  text-align: center;
  font-weight: 100; }

.medlem3 {
  margin: 0 auto;
  height: 60%;
  width: 60%; }

.menneske4 {
  height: 100%;
  width: 33%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 2px; }

.menneske4 p {
  font-size: 8.5pt;
  line-height: 10pt;
  width: auto; }

.om4 {
  text-align: center;
  width: 100%;
  font-weight: normal;
  margin-bottom: 3px;
  margin-top: 3px; }

.om44 {
  text-align: center;
  font-weight: 100; }

.medlem4 {
  margin: 0 auto;
  height: 60%;
  width: 60%; }

.menneske5 {
  height: 100%;
  width: 33%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 2px; }

.menneske5 p {
  font-size: 8.5pt;
  line-height: 10pt;
  width: auto; }

.om5 {
  text-align: center;
  width: 100%;
  font-weight: normal;
  margin-bottom: 3px;
  margin-top: 3px; }

.om55 {
  text-align: center;
  font-weight: 100; }

.medlem5 {
  margin: 0 auto;
  height: 60%;
  width: 60%; }

.container1 {
  flex-direction: row;
  display: inline-flex;
  height: 80%;
  width: 100%; }

.container2 {
  flex-direction: row;
  display: inline-flex;
  margin-top: 50px;
  height: 80%;
  width: 100%; }

.footer_samarbejde {
  float: left;
  height: auto;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  margin-bottom: 50px; }

.sam1 {
  height: 50%;
  margin-left: 3px;
  margin-right: 5px;
  margin-top: 30px;
  margin-bottom: 20px; }

.sam2 {
  height: 50%;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-flex;
  margin-top: 30px;
  margin-bottom: 20px; }

.sam3 {
  height: 50%;
  margin-right: 3px;
  margin-left: 5px;
  display: inline-flex;
  margin-top: 30px;
  margin-bottom: 20px; }

.sarah_some {
  grid-row: 8;
  height: auto;
  width: 100%; }

.some_overskrift {
  color: #0097d7;
  text-align: center;
  margin-bottom: 10px; }

.linkedin {
  border: none;
  background-color: white;
  float: left;
  margin-left: 20%;
  padding-bottom: 20px; }

.facebook {
  border: none;
  background-color: white;
  float: right;
  margin-right: 20%;
  padding-bottom: 20px; }

.indhold_contaon {
  height: auto;
  justify-content: space-between;
  margin: auto;
  display: flex;
  flex-direction: column; }

.lortebillede {
  flex-direction: row;
  display: inline-flex;
  height: 90%;
  width: auto;
  float: right;
  padding-top: 80px;
  display: block; }

.tilmeld_text {
  flex-direction: row;
  display: inline-flex;
  height: 100%;
  width: 50%; }

.til_knap {
  justify-content: center;
  text-align: center; }

.medlem1 {
  height: auto;
  width: 20%;
  margin: 0 auto; }

.medlem2 {
  height: auto;
  width: 20%;
  margin: 0 auto; }

.medlem3 {
  height: auto;
  width: 20%;
  margin: 0 auto; }

.medlem4 {
  height: auto;
  width: 20%;
  margin: 0 auto; }

.medlem5 {
  height: auto;
  width: 20%;
  margin: 0 auto; }

.body_tilmeld {
  display: grid;
  grid-template-rows: 85px auto auto;
  background-color: white; }

#section_tilmeld {
  grid-row: 2;
  background-color: white; }

.footer_tilmeld {
  grid-row: 3; }

.one_continer {
  height: auto;
  width: 100%;
  justify-content: space-between;
  display: flex; }

.underside_overskrift {
  color: #0097d7;
  margin: 0 auto; }

.underside_billde {
  height: 80%;
  width: auto;
  flex-direction: row;
  display: flex;
  margin-left: 80px;
  margin-right: -80px; }

.underside_text {
  height: auto;
  width: 100%;
  flex-direction: row;
  display: flex; }

#section_tilmeld {
  grid-row: 2;
  background-color: white; }

.underside_billde {
  margin-left: 15%; }

.underside_overskrift {
  color: #0097d7; }

.underside_beskrivelse {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px; }

form {
  text-align: center; }

#from {
  height: auto;
  width: 100%;
  margin: 0 auto; }

.entext {
  text-align: center;
  margin: 20px;
  font-weight: bolder; }

input {
  border: 2px solid #0097d7;
  border-radius: 4px;
  width: 60%; }

#2from {
  display: flex;
  justify-content: flex-end; }

.action {
  margin: 50px;
  border: 1px solid #0097d7; }

input[type=checkbox] {
  width: auto;
  height: auto;
  border: 1px solid #0097d7;
  background-color: #0097d7;
  border-radius: 4px;
  box-shadow: #0097d7; }

button {
  background-color: #f37121;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }

#firstname {
  width: 198px;
  margin: 3px; }

#lastname {
  width: 178px;
  margin: 3px; }

#adresse {
  width: 200px;
  margin: 3px; }

#postnummer {
  width: 160px;
  margin: 3px; }

#by {
  width: 252px;
  margin: 3px; }

#tlf {
  width: 243px;
  margin: 3px; }

#mail {
  width: 231px;
  margin: 3px; }

@media screen and (min-width: 992px) {
  body {
    display: grid;
    margin: 0;
    grid-template-rows: 85px 690px 800px 765px 770px auto 750px 750px; }

  h1 {
    font-size: 30pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder; }

  h2 {
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif; }

  h3 {
    font-size: 18pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }

  p {
    font-size: 10pt;
    line-height: 20pt;
    font-family: 'Lato', sans-serif; }

  a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold; }

  .lillelogo {
    height: 55px;
    width: auto;
    display: block; }

  .header {
    display: flex;
    position: fixed;
    background-color: white;
    padding: 0 2%;
    padding-top: 15px;
    padding-bottom: 10px;
    height: 80px;
    font-weight: bold; }

  .menu_web {
    display: flex;
    width: 60%;
    justify-content: space-around;
    padding-top: 15px;
    *background-color: aqua;
    margin-left: 20%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }

  .dropdown {
    display: none; }

  .some {
    display: block; }

  header {
    position: fixed;
    width: 100%;
    height: 85px;
    background-color: white;
    font-weight: bold; }

  .flex-container {
    display: flex;
    flex-direction: row; }

  .box1 {
    width: 33.3%; }

  .box2 {
    width: 33.3%; }

  .box3 {
    width: 33.3%; }

  .text1 {
    margin-left: 20%;
    margin-right: 20%; }

  .flex-container2 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Lato', sans-serif;
    color: #0097d7; }

  .flex-container3 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; }

  .flex-container3 h3 {
    font-size: 16pt; }

  .flex-container2 img {
    width: 7vw;
    height: 5vw; }

  .kalender {
    grid-row: 4;
    background: url("../images/kalenderbaggrund.png") center;
    padding-top: 60px; }

  .kalender_kalender {
    justify-items: center;
    width: 98vw;
    padding-top: 60px; }

  .galleri {
    grid-row: 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 256.5px 256.5px 256.5px; }

  .galleri a {
    text-decoration: none;
    color: white; }

  .galleri_orange_kaffe {
    grid-row: 1;
    grid-column: 1;
    background: url("../images/orange_kaffe_400.jpg") center;
    background-size: cover;
    position: relative; }

  .galleri_orange_kaffe_overlay {
    display: grid;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0097d7;
    opacity: 0;
    transition: .5s ease;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 0 20px 0 20px; }

  .galleri_orange_kaffe_overlay:hover {
    opacity: 0.75;
    transition: .5s ease; }

  .galleri_orange_kaffe_overlay_tekst {
    color: white;
    opacity: 1; }

  .galleri_turkis_column_1 {
    grid-row: 2 / span 2;
    grid-column: 1;
    background-color: #99cccc; }

  .galleri_kalender {
    grid-row: 1;
    grid-column: 2;
    background: url("../images/galleri_kalender_400.jpg") center;
    background-size: cover;
    position: relative; }

  .galleri_kalender_overlay {
    display: grid;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0097d7;
    opacity: 0;
    transition: .5s ease;
    align-items: center;
    justify-items: center; }

  .galleri_kalender_overlay:hover {
    opacity: 0.75;
    transition: .5s ease; }

  .galleri_kalender_overlay_tekst {
    color: white;
    opacity: 1; }

  .galleri_teamwork {
    grid-row: 2;
    grid-column: 2;
    background: url("../images/galleri_teamwork_400.jpg") center;
    background-size: cover;
    position: relative; }

  .galleri_teamwork_overlay {
    display: grid;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0097d7;
    opacity: 0;
    transition: .5s ease;
    align-items: center;
    justify-items: center; }

  .galleri_teamwork_overlay:hover {
    opacity: 0.75;
    transition: .5s ease; }

  .galleri_teamwork_overlay_tekst {
    color: white;
    opacity: 1; }

  .galleri_bliv_medlem {
    display: grid;
    grid-row: 3;
    grid-column: 2;
    height: 100%;
    width: 100%;
    background: #f37121;
    color: white;
    align-items: center;
    text-align: center; }

  .galleri_noter {
    grid-row: 1 / span 2;
    grid-column: 3;
    background: url("../images/galleri_noter_515.jpg") center;
    background-size: cover;
    position: relative; }

  .galleri_noter_overlay {
    display: grid;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0097d7;
    opacity: 0;
    transition: .5s ease;
    align-items: center;
    justify-items: center;
    text-align: center; }

  .galleri_noter_overlay:hover {
    opacity: 0.75;
    transition: .5s ease; }

  .galleri_noter_overlay_tekst {
    color: white;
    opacity: 1; }

  .galleri_pc {
    grid-row: 3;
    grid-column: 3;
    background: url("../images/galleri_pc_400.jpg") center;
    background-size: cover;
    position: relative; }

  .galleri_pc_overlay {
    display: grid;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0097d7;
    opacity: 0;
    transition: .5s ease;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 0 20px 0 20px; }

  .galleri_pc_overlay:hover {
    opacity: 0.75;
    transition: .5s ease; }

  .galleri_pc_overlay_tekst {
    color: white;
    opacity: 1; }

  .galleri_mand_kigger_noter {
    grid-row: 1;
    grid-column: 4;
    background: url("../images/galleri_mand_kigger_noter_400.jpg") center;
    background-size: cover;
    position: relative; }

  .galleri_mand_kigger_noter_overlay {
    display: grid;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0097d7;
    opacity: 0;
    transition: .5s ease;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 0 20px 0 20px; }

  .galleri_mand_kigger_noter_overlay:hover {
    opacity: 0.75;
    transition: .5s ease; }

  .galleri_mand_kigger_noter_overlay_tekst {
    color: white;
    opacity: 1; }

  .galleri_turkis_column_4 {
    grid-row: 2 / span 2;
    grid-column: 4;
    background: #99cccc; }

  .projekter {
    grid-row: 6;
    display: grid;
    grid-template-rows: auto auto 90px;
    grid-template-columns: 1fr 4fr 1fr; }

  .projekter h2 {
    text-align: center;
    color: white;
    font-size: 20pt; }

  .projekter_projekter {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: 460px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center; }

  .projekter_projekter a {
    align-self: center; }

  .projekter_projekter_mobile {
    display: none; }

  .Projekter_overskrift {
    grid-column: 2;
    grid-row: 1;
    padding-top: 60px; }

  .den_gyldne_mikrofon {
    grid-column: 1;
    background: url("../images/den_gyldne_mikrofon.jpg") center;
    background-size: cover;
    margin: 0 10px 0 0;
    padding: 0 0 0 0;
    height: 350px;
    width: 332px;
    transition: .5s ease; }

  .den_gyldne_mikrofon:hover {
    margin: 0 0 0 0;
    height: 460px;
    width: 442px;
    transition: .5s ease; }

  .grangia_erhvervspris {
    grid-column: 2;
    background: url("../images/grangia.jpg") center;
    background-size: cover;
    margin: 0 10px 0 10px;
    padding: 0 0 0 0;
    height: 350px;
    width: 332px;
    transition: .5s ease; }

  .grangia_erhvervspris:hover {
    margin: 0 0 0 0;
    height: 460px;
    width: 442px;
    transition: .5s ease; }

  .snak_saa_debatter {
    grid-column: 3;
    background: url("../images/snak_saa_debatter_2.jpg") center;
    background-size: cover;
    margin: 0 0 0 10px;
    padding: 0 0 0 0;
    height: 350px;
    width: 332px;
    transition: .5s ease; }

  .snak_saa_debatter:hover {
    margin: 0 0 0 0;
    height: 460px;
    width: 442px;
    transition: .5s ease; }

  .medlemskab {
    grid-row: 7;
    background-color: #ebf1f3; }

  .indhold_contaon {
    height: auto;
    justify-content: space-between;
    margin: auto;
    display: flex;
    flex-direction: row; }

  .lortebillede {
    flex-direction: row;
    display: inline-flex;
    height: 90%;
    width: auto;
    float: right;
    padding-top: 80px;
    display: block; }
    .lortebillede .footer_samarbejde {
      margin-bottom: 0px;
      align-content: center; }
    .lortebillede .sam3 {
      margin-bottom: 5px; }
    .lortebillede footer {
      grid-row: 8;
      background-image: url("../images/1mobilbaggrund.png");
      background-position: center;
      background-size: cover; }
    .lortebillede .sarah_some {
      display: none; }
    .lortebillede .underside_beskrivelse {
      height: auto;
      width: 40%; }
    .lortebillede .entext {
      margin-left: 22%; }
    .lortebillede .from {
      width: 100%; } }

/*# sourceMappingURL=styles.css.map */
